<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
	<!-- modules remove to accept DELETE method -->
	  <modules>
		<remove name="WebDAVModule" />
	  </modules>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
		<!-- modules remove to accept DELETE method -->
		<remove name="WebDAV" /> 
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\backend-app.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    </system.webServer>
  </location>
</configuration>